// On a small-screen, default to a single column display
.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

// On a large-screen, display in a grid
@media only screen and (min-width: 954px) {
    .posts {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-auto-rows: auto;
        gap: 2rem;
    }
}

.redirects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.redirects > span {
    margin: 0 1em;
}
