// Taken from https://github.com/morhetz/gruvbox

$light-bg: #fbf1c7;
$light-red: #cc241d;
$light-green: #98971a;
$light-yellow: #d79921;
$light-blue: #458588;
$light-purple: #b16286;
$light-aqua: #689d6a;
$light-gray: #7c6f64;

$light-gray2: #928374;
$light-red2: #9d0006;
$light-green2: #79740e;
$light-yellow2: #b57614;
$light-blue2: #076678;
$light-purple2: #8f3f71;
$light-aqua2: #427b58;
$light-fg: #3c3836;

$light-bg0_h: #f9f5d7;
$light-bg0: #fbf1c7;
$light-bg1: #ebdbb2;
$light-bg2: #d5c4a1;
$light-bg3: #bdae93;
$light-bg4: #a89984;
$light-gray3: #928374;
$light-orange: #d65d0e;

$light-bg0_s: #f2e5bc;
$light-fg4: #7c6f54;
$light-fg3: #665c54;
$light-fg2: #504945;
$light-fg1: #3c3836;
$light-fg0: #282828;
$light-orange2: #af3a03;
