.homepageWrapper {
    padding: 0.5em;
    z-index: 999;
    /*
    box-shadow: 1px 1px 1px 3px var(--shadow);
    -webkit-box-shadow: 0px 0px 25px 5px var(--shadow);
    -moz-box-shadow: 0px 0px 25px 5px var(--shadow);
    box-shadow: 0px 0px 25px 1px var(--shadow);
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepageLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Links {
    display: block;
}

.Title {
    font-size: clamp(1em, 5vw, 3em);
    padding: 0 0 0.25em 0;
    line-height: 1.5;
    color: var(--text-title);
}

.homepageTitle {
    padding: 0 0.25em 0;
    line-height: 1.5;
    color: var(--text-title);
    display: inline-block;
}

.Link,
.homepageLink {
    text-decoration: none;
    box-shadow: none;
    color: var(--text-title);
    margin: 0.5em 0.5em 0 0;
}

.Link:hover,
.homepageLink:hover {
    color: var(--color-b);
}
